.App {
  background: #ececec;
  height: 100vh;
}
.Navbar{
  height: 15vh;
}

.Header {

  background: #606469 ;
  color: #03009b;
  padding: 20px ;
  margin-left: 0px;
  border-bottom: 1px solid rgba(98, 0, 255, 0.12);
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}

