.Board {
  height: 92%;
  display: flex;
  overflow-x: auto;
}

.Add-List {
  width: 272px;
  margin: 10px;
  flex-shrink: 0;
}

.Add-List-Button {
  background-color: #ffa807;
  border-radius: 0px;
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 5px 8px;
  transition: background-color 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
  height: fit-content;
}

.Add-List-Button:hover {
  background-color:  rgb(0, 8, 122); 
  color: #ffe4c4;;
  font-weight: 700;
}

.Add-List-Button ion-icon {
  margin-right: 1px;
}
