.List {
  background: #ffe4c4;
  flex-shrink: 0;
  width: 272px;
  height: fit-content;
  margin: 15px;
  margin-right: 0;
  border-radius: 0px 35px 0px 35px;
  border-right: 3.5px solid #adadad;
  border-bottom: 3.5px solid #adadad;
}

.List-Title {
  cursor: pointer;
  padding: 10px;
  overflow-wrap: break-word;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  color: #03009b;
  font-weight: 500;
  border-radius:0px 35px 0px 35px;
  display: flex;
  align-items: center;
}

.Toggle-Add-Card:hover {
  background-color: #03009b;
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
}

.Toggle-Add-Card ion-icon {
  margin-right: 2px;
}
